.container
{
text-align: center;
margin:auto;
}
#caja
{
border-radius: 8px 8px 8px 8px;
-moz-border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
border: 1px inset #000000;
margin: auto;
padding:  50px;
background-color: white;
opacity: 0.9;
}
.zoomimg:hover
 {
    transform: scale(1.1);
    transition: 0.4s;
}
body
{
background-image: url(../img/tripda.jpg);
background-repeat: no-repeat;
background-attachment: scroll;
background-size: 100% 100%;
background-attachment: fixed;
}